@media (max-width: 575.98px){
  #header {
    .menu__wrapper {
      width: 240px;
      .menu {
        width: 240px !important;
        .menu__links{
          .menu__links__item {
            height: 39px;
            padding: 0 16px;
            a {
              font-size: 14px;
            }
          }
        }
      }
    }
    .menu__links__item.active{
      a {
        font-size: 14px;
      }
    }
  }
  #slider{
    margin: 2rem 0px;
    .container {
      max-width: 100%;
      width: 91%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
      .owl-carousel{
        .owl-item{
          img {
            width: 112%;
          }
        }
        .item{
          position: relative;
          width: 100%;
          height: 500px;
          max-height: 500px;
          .slide_img{
            position: absolute;
            top: 0px;
            right: 0;
            width: 100%;
            height: 40%;
            z-index: 2;
            img{
            }
          }
          .slide_caption,
          .slide_caption2{
            position: absolute;
            top: 40%;
            left: 0px;
            width: 100%;
            height: 60%;
            z-index: 3;
            .slide_icon{
              margin-bottom: 0.8rem;
              width: 26%;
            }
            h2
            {
              font-family: 'fs_albertbold', sans-serif;
              font-size: 25px;
              color: #000000;
              line-height: 35px;
              font-weight: 500;
              padding: 0;
              margin: 0;
              position: relative;
              &:after{
                content: "";
                width: 100%;
                display: inline-block;
                height: 1px;
                background-color: #a7a2a7;
                padding: 0;
                margin: 0.7rem 0;
                position: absolute;
                bottom: -12px;
                left: 0px;
              }
            }
            .text-black {
              height: 1px;
              background-color: #a7a2a7;
              padding: 0;
              margin: 0.7rem 0;
              position: absolute;
              bottom: -23px;
              left: 0px;
            }
            .slide_link{
              opacity: 0.8;
              font-family: 'fs_albertbold', sans-serif;
              margin-top: 20px;
              a{
                align-items: center;
                font-size: 13px;
                line-height: 3;
                display: inline-block;
                text-decoration: none;
                font-weight: 700;
                padding: 0 14px;
                color: #ffffff;
                background-color: #de2c2b;
                -webkit-transition: background-color 0.3s ease-out;
                transition: background-color 0.3s ease-out;
                cursor: pointer;
                &:hover{
                  background-color: #0082ca;
                }
              }
            }
          }
        }
      }
    }
  }

  #content{
    margin: 0rem 0;
    .container{
      max-width: 100%;
      width: 91%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
      .no-gutters{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        .home_content{
          .content_detail {
            width: 65%;
          }
        }
      }
    }
    .home_aside{
      width: 100%;
      height: 82%;
      .item_wrapper{
        background-color: #f50;
        margin-top: 5px;
        width: 100%;
        height: 49%;
        position: relative;
        .question{
          h3{
            width: 143px;
            left: -17px;
          }
        }
        .aside_item{
          .item_bottom{
            a {
              right: -3px;
              font-size: 13px;
              height: 100%;
              width: 73%;
            }
            &:after{
              left: 4%;
            }
          }
          .item_top{
            p.second {
              display: none;
            }
            h3 {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  #ref {
    .container{
      max-width: 100%;
      width: 91%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
      h4 {
        line-height: 17px;
      }
    }
  }
  footer{
    .scroll_up{
      position: absolute;
      top: -33px;
      right: 0px;
      padding: 5px;
      background: #0082ca;
      z-index: 1;
      cursor: pointer;
    }
    .footer_company {
      margin-bottom: 13px;
      .company_address {
        position: relative;
        right: 0px;
        left: 0px;
        margin-left: 32px;
        p {font-size: 10px;}
      }
    }
    .footer_link{
      .footer_links{
        li{
          a{
            padding: 0px 5px 3px 5px;
            font-size: 11px;
            &:after {
              height: 2px;
            }
          }
        }
      }
    }
    .scroll_up{
      position: absolute;
      top: -29px;
      right: 0px;
      padding: 3px;
      img {
        margin-right: 6px;
        margin-left: 6px;
      }
      &:before {
        width: 26%;
      }
    }
  }
  #home_top,
  #home_bottom,
  #konsult,
  #noskatieties_vedio{
    .mp{
      .aside_right {
        padding: 0px;
        margin-left: 0px;
        .nervepain__video{
          margin-top: 3rem;
        }
        h2 {
          font-size: 28px;
        }
      }
      .aside_left {
        padding: 24px;
        margin-top: 0px;
        margin-bottom: 20px;
      }
    }
  }
  .kasirsapes__banner__image {
    width: 100%;
    height: 155px;
  }
  #kas_bottom{
    margin: 1rem 1rem 0rem 1rem;
    .container {
      width: 90%;
      .mp{
        .aside_right {
          padding: 0px;
          margin-left: 0px;
          h2 {
            font-size: 23px;
          }
        }
      }
    }
  }
  #kas_top {
    margin: 2rem 0rem;
    .mp{
      .aside_right {
         padding: 0px;
         margin-left: 0px;
        margin-top: 3rem;
        h2 {
          font-size: 20px;
        }
      }
    }
  }
  #noskatieties_vedio {
    margin: 0rem;
    .mp{
      .aside_left{
        .aside_left_content{
          .aside_caption{
            h3 {
              font-size: 17px;
              color: #424242;
              font-weight: 600;
              padding: 1rem 0.5rem 0rem;
            }
          }
        }
      }
    }
  }
  .no-gutters{
    .middle__content__detail{
      h2 {
        font-family: "fs_albertbold", sans-serif;
        color: #ffffff;
        font-size: 28px;
        font-weight: 500;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  #slider{
    margin: 2rem 0px;
    .container {
      max-width: 100%;
      width: 91%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
      .owl-carousel{
        .owl-item{
          img {
            width: 112%;
          }
        }
        .item{
          position: relative;
          width: 100%;
          height: 500px;
          max-height: 500px;
          .slide_img{
            position: absolute;
            top: 0px;
            right: 0;
            width: 100%;
            height: 40%;
            z-index: 2;
            img{
            }
          }
          .slide_caption,
          .slide_caption2{
            position: absolute;
            top: 53%;
            left: 0px;
            width: 100%;
            height: 60%;
            z-index: 3;
            .slide_icon{
              margin-bottom: 0.8rem;
              width: 14%;
            }
            h2
            {
              font-family: 'fs_albertbold', sans-serif;
              font-size: 25px;
              color: #000000;
              line-height: 35px;
              font-weight: 500;
              padding: 0;
              margin: 0;
              position: relative;
              &:after{
                content: "";
                width: 100%;
                display: inline-block;
                height: 1px;
                background-color: #a7a2a7;
                padding: 0;
                margin: 0.7rem 0;
                position: absolute;
                bottom: -12px;
                left: 0px;
              }
            }
            .text-black {
              height: 1px;
              background-color: #a7a2a7;
              padding: 0;
              margin: 0.7rem 0;
              position: absolute;
              bottom: -23px;
              left: 0px;
            }
            .slide_link{
              opacity: 0.8;
              font-family: 'fs_albertbold', sans-serif;
              margin-top: 20px;
              a{
                align-items: center;
                font-size: 13px;
                line-height: 3;
                display: inline-block;
                text-decoration: none;
                font-weight: 700;
                padding: 0 14px;
                color: #ffffff;
                background-color: #de2c2b;
                -webkit-transition: background-color 0.3s ease-out;
                transition: background-color 0.3s ease-out;
                cursor: pointer;
                &:hover{
                  background-color: #0082ca;
                }
              }
            }
          }
        }
      }
    }
  }
  #home_top,
  #home_bottom,
  #konsult,
  #noskatieties_vedio{
    .mp{
      .aside_right {
        padding: 0px;
        margin-left: 0px;
        h2 {
          font-size: 28px;
        }
        .nervepain__video{
          margin-top: 3rem;
        }
      }
      .aside_left {
        padding: 24px;
        margin-top: 0px;
        margin-bottom: 20px;
      }
    }
  }
  .kasirsapes__banner__image {
    width: 100%;
    height: 155px;
  }
  #home_top ,
  #noskatieties_vedio {
    .mp{
      .aside_left {
        margin: auto;
        width: 71%;
        height: 250px;
        position: relative;
      }
    }

  }
  #content{
    margin: 0rem 0;
    .container{
      max-width: 100%;
      width: 63%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
      .no-gutters{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        .home_content{
          .content_detail {
            width: 65%;
          }
        }
      }
    }
    .home_aside{
      width: 100%;
      height: 82%;
      .item_wrapper{
        margin-top: 5px;
        width: 100%;
        height: 49%;
        position: relative;
        .question{
          h3{
            width: 143px;
            left: -17px;
          }
        }
        .aside_item{
          .item_bottom{
            a {
              right: -3px;
              font-size: 13px;
              height: 100%;
              width: 73%;
            }
            &:after{
              left: 4%;
            }
          }
          .item_top{
            p.second {
              display: none;
            }
            h3 {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  #ref {
    .container{
      max-width: 100%;
      width: 91%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
      h4 {
        line-height: 17px;
      }
    }
  }

  #kas_top {
    margin: 2rem 0rem;
    .mp{
      .aside_right {
        padding: 0px;
        margin-left: 0px;
        margin-top: 3rem;
        h2 {
          font-size: 20px;
        }
      }
      .aside_left{
        .aside_left_content {
          position: absolute;
          top: 0px;
          right: 72px;
          width: 41%;
          height: 100%;
          z-index: 1;
          overflow: hidden;
          background-color: #f1f1f1;
          text-align: left;
        }
       img{
         position: absolute;
         top: 21px;
         left: 28px;
         width: 87%;
         height: 81%;
       }
        &:after{
          left: 45%;
        }
      }
    }
  }
  #kas_bottom .mp .aside_right {
     padding: 0px;
     margin-left: 0px;
  }
  #noskatieties_vedio {
    margin: 0rem;
    .mp{
      .aside_left{
        .aside_left_content{
          .aside_caption{
            h3 {
              font-size: 17px;
              color: #424242;
              font-weight: 600;
              padding: 1rem 0.5rem 0rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #slider{
    margin: 2rem 0px;
    .container{
      max-width: 100%;
      width: 91%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
      .owl-carousel{
        .owl-item{
          img {
            width: 112%;
          }
        }
        .item{
          position: relative;
          width: 100%;
          height: 262px;
          max-height: 300px;
          .slide_img{
            position: absolute;
            top: 0px;
            right: -20px;
            width: 71%;
            height: 100%;
            z-index: 2;
            img{
            }
          }
          .slide_caption,
          .slide_caption2{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 40%;
            height: 100%;
            z-index: 3;
            .slide_icon{
              margin-bottom: 0.8rem;
              width: 26%;
            }
            h2
            {
              font-family: 'fs_albertbold', sans-serif;
              font-size: 25px;
              color: #000000;
              line-height: 35px;
              font-weight: 500;
              padding: 0;
              margin: 0;
              position: relative;
              &:after{
                content: "";
                width: 100%;
                display: inline-block;
                height: 1px;
                background-color: #a7a2a7;
                padding: 0;
                margin: 0.7rem 0;
                position: absolute;
                bottom: -12px;
                left: 0px;
              }
            }
            .text-black {
              height: 1px;
              background-color: #a7a2a7;
              padding: 0;
              margin: 0.7rem 0;
              position: absolute;
              bottom: -23px;
              left: 0px;
            }
            .slide_link{
              opacity: 0.8;
              font-family: 'fs_albertbold', sans-serif;
              margin-top: 20px;
              a{
                align-items: center;
                font-size: 13px;
                line-height: 3;
                display: inline-block;
                text-decoration: none;
                font-weight: 700;
                padding: 0 14px;
                color: #ffffff;
                background-color: #de2c2b;
                -webkit-transition: background-color 0.3s ease-out;
                transition: background-color 0.3s ease-out;
                cursor: pointer;
                &:hover{
                  background-color: #0082ca;
                }
              }
            }
          }
        }
      }
    }

  }
  #home_top ,
  #home_bottom,
  #noskatieties_vedio{
    .mp {
      .aside_right {
        h2 {
          line-height: 2.5rem;
        }
      }
    }
  }
  #home_top{
    .mp{
      .aside_right{
        .nervepain__symptoms{
          ul{
            li{
              font-size: 16px;
            }
          }
        }
      }
      .aside_left{
        .aside_left_content{
          .aside_caption{
            h3 {
              font-size: 14px;
            }
            p {
              padding: 0rem 0.5rem;
            }
          }
        }
        .aside_link{
          a {
            font-size: 13px;
          }
        }
      }
    }
  }
  #content{
    margin: 0rem 0;
    .container{
      max-width: 100%;
      width: 97%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
      .no-gutters{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        .home_content{
          .content_detail {
            width: 65%;
          }
        }
      }
    }
    .home_aside{
      width: 100%;
      height: 82%;
      .item_wrapper{
        margin-top: 5px;
        width: 100%;
        height: 49%;
        position: relative;
        .question{
          h3{
            width: 143px;
            left: -17px;
          }
        }
        .aside_item{
          .item_bottom{
            a {
              right: -3px;
              font-size: 13px;
              height: 100%;
              width: 73%;
            }
            &:after{
              left: 4%;
            }
          }
          .item_top{
            p.second {
              display: none;
            }
            h3 {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  #ref {
    .container{
      max-width: 100%;
      width: 91%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
      h4 {
        line-height: 17px;
      }
    }
  }
  footer{
    .footer_link {
      justify-content: center;
      margin-top: 4px;
      .footer_links {
        width: 50%
      }
    }
  }
  #kas_top {
    .mp{
      .aside_left{
        .aside_left_content{
          .aside_link{
            a{
              right: 6px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  #noskatieties_vedio {
    margin: 0rem;
    .mp{
      .aside_left{
        .aside_left_content{
          .aside_caption{
            h3 {
              font-size: 17px;
              color: #424242;
              font-weight: 600;
              padding: 1rem 0.5rem 0rem;
            }
          }
          .aside_link{
            a{
              right: 10px;
              font-size: 13px;
          }
        }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  #header{
    .container {
      min-width: 98% !important;
      margin: 0 auto;
      padding: 0 0.8rem !important;
    }
  }
  #kas_top {
    .mp{
      .aside_left{
        .aside_left_content{
          .aside_link{
            a{
              right: 6px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  #content{
    .home_aside{
      .item_wrapper{
        .question{
          h3{
            width: 143px;
            left: -17px;
          }
        }
        .aside_item{
          .item_bottom{
            a {
              right: -3px;
              font-size: 13px;
              height: 100%;
              width: 73%;
            }
            &:after{
              left: 4%;
            }
          }
          .item_top{
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .no-gutters{
    .middle__content__detail {
      height: 100%;
      h2 {
        font-family: "fs_albertbold", sans-serif;
        color: #ffffff;
        font-size: 36px;
        font-weight: 500;
      }
    }
  }
  #content{
    .home_aside{
      .item_wrapper{
        .question{
          h3{
            width: 143px;
            left: -17px;
          }
        }
        .aside_item{
          .item_bottom{
            a {
              right: -3px;
              font-size: 13px;
              height: 100%;
              width: 73%;
            }
            &:after{
              left: 4%;
            }
          }
          .item_top{
          }
        }
      }
    }
  }
}